<div class="pagetitle">
  <h1>{{origin}}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Dashboard</li>
      <li class="breadcrumb-item active">nouveaufournisseur</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<section class="section dashboard">
  <div class="row">

    <!-- Top Selling -->
    <div class="col-12">
      <div class="card top-selling overflow-auto">
        <div class="card-body pb-0">
          <h5 class="card-title">Information du {{origin}}</h5>

          <div class="col mb-3">
            <div class="col-md-12">

              <div class="col-md-12 mb-3" class=" alert alert-danger" *ngIf="errorsMsg.length>0">
                <div *ngFor="let msg of errorsMsg">
                  <span>{{msg}}</span>
                </div>

              </div>
              <div class="col-md-12">
                <form>
                  <div class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Nom" name="nom" [(ngModel)]="clientfournisseur.nom" style="box-shadow: none">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Adresse 1" name="adresse1" [(ngModel)]="adresse.adresse1" style="box-shadow: none" >
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Prenom"  name="prenom" [(ngModel)]="clientfournisseur.prenom" style="box-shadow: none">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Adresse 2"  name="adresse2" [(ngModel)]="adresse.adresse2" style="box-shadow: none">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <input type="email" class="form-control" placeholder="E-mail" name="email" [(ngModel)]="clientfournisseur.email" style="box-shadow: none">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Ville"  name="ville" [(ngModel)]="adresse.ville" style="box-shadow: none">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Telephone" name="numTel" [(ngModel)]="clientfournisseur.numTel" style="box-shadow: none">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Code postal"  name="codePostale" [(ngModel)]="adresse.codePostale" style="box-shadow: none">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      &nbsp; <input type="file" class="file-upload" (change)="onFileSelected($event)"  >
                      <input type="hidden" name="photo"   [value]="pathFile"  >
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Pays" name="pays" [(ngModel)]="adresse.pays" style="box-shadow: none" >
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button class="btn btn-danger mr-3" (click)="cancelClick()">
                <i class="bi bi-x-octagon"></i>
                Annuler
              </button>
              <button class="btn btn-primary m-lg-2"  (click)="enregister()">
                <i class="bi bi-floppy"></i>
                Enregitrer
              </button>
            </div>

          </div>

        </div>
      </div>
    </div><!-- End Top Selling -->
  </div>

</section>





