<div class="pagetitle">
  <h1>Categorie</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
      <li class="breadcrumb-item active">nouvellecategorie</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<section class="section dashboard" data-aos="fade-down">
  <div class="row pt-5 pb-5 ">

    <!-- Top Selling -->
    <div class="col-12 ">
      <div class="card top-selling overflow-auto">
        <div class="card-body pb-0">
          <h5 class="card-title">Information de categorie</h5>


          <div class="col mb-3">
            <div class="col-md-4">
              <form>
                <div class="row mb-3 d-flex align-items-center">
                  <div class="col">
                  <div class="col">Designation :</div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Designation" name="designation" [(ngModel)]="categorie.designation" style="box-shadow: none">
                  </div>
                  </div>
                </div>
                <div class="row mb-3 d-flex align-items-center">
                  <div class="col">
                  <div class="col">Image :</div>
                  <div class="col">
                    <input type="file"  name="image"  class="file-upload" (change)="onFileSelected($event)">
                    <input type="hidden" name="image"  [(ngModel)]="categorie.image" [value]="pathFile">
                  </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-12 text-right">
            <button class="btn btn-danger mr-3" (click)="cancel()">
              <i class="bi bi-x-octagon"></i>
              Annuler
            </button>
            <button class="btn btn-primary m-lg-2" (click)="save()" >
              <i class="bi bi-floppy"></i>&nbsp;
              Enregitrer
            </button>
          </div>



        </div>
      </div>
    </div><!-- End Top Selling -->
  </div>

</section>







