
<h5 class="card-title " *ngIf="i==0">Détails de la commande </h5>
    <table class="table table-borderless" >
      <thead *ngIf="i==0"  class="table-secondary mb-5">
      <tr data-aos="zoom-in">
        <th    class="fw-bold"  scope="col" >Référence</th>
        <th   class="fw-bold"  scope="col">Produit</th>
        <th   class="fw-bold"  scope="col">Categorie</th>
        <th   class="fw-bold" scope="col">Qantité</th>
        <th   class="fw-bold"  scope="col">prixUnitaire</th>
        <th   class="fw-bold"  scope="col">Total</th>


      </tr>
      </thead>
      <tbody>
      <tr data-aos="zoom-in"   >
        <td  >{{ligneCommande.article?.codeArticle.substring(0,5)}}</td>
        <td  > {{ligneCommande.article?.designation}}</td>
        <td  > {{ligneCommande.article?.categorie.designation}}</td>
        <td  > <button   type="button" class="border-0" (click)="moinsClick(i)"><i class="bi bi-dash-circle-fill text-danger"></i></button>  &nbsp;{{ligneCommande.quantite}}&nbsp; <button  class="border-0" type="button " (click)="plusClick(i)"><i class="bi bi-plus-circle-fill text-success"></i></button> </td>
        <td > {{   ligneCommande.prixUnitaire  }} &nbsp; €</td>
        <td > {{  (ligneCommande.prixUnitaire && ligneCommande.quantite ? +ligneCommande.prixUnitaire * +ligneCommande.quantite :'') }}&nbsp;€</td>


      </tr>
      </tbody>
    </table>



