
<footer id="footer2" class="footer2" >

  <div class="container" >
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="assets/img/img/logogs.png" width="60">
          <span>GESTOSTOCK</span>
        </a>
        <p>GestoStock vous offre la solution de gestion de stock ultime pour optimiser vos opérations et stimuler votre croissance.</p>
        <div class="social-links d-flex mt-4">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Liens Utiles</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/cgu">CGU</a></li>
          <li><a href="/rgpd">RGPD </a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Nos Services</h4>
        <ul>
          <li><a href="/service-details/1/caracteristique/1">Stock Centralisée</a></li>
          <li><a href="/service-details/2/caracteristique/1">Suivi des Produits</a></li>
          <li><a href="/service-details/3/caracteristique/1">Commandes & Livraisons</a></li>
          <li><a href="/service-details/4/caracteristique/1">Rapports & Analyses</a></li>
          <li><a href="/service-details/5/caracteristique/1">Gestion des Employés</a></li>
          <li><a href="/service-details/6/caracteristique/1">Notifications & Alertes</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contactez Nous</h4>
        <p>
          146 Bd de Grenelle,   <br> 75015 Paris
         <br>
          FRANCE <br><br>
          <strong>Phone:</strong> +33 567584657<br>
          <strong>Email:</strong> info@gestostock.com<br>
        </p>

      </div>

    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      Copyright  2024 &copy;  <strong><span>GESTOSTOCK</span></strong>
    </div>
    <div class="credits  " style="display: none">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>

</footer><!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

