<div class=" container">
  <table class="table table-borderless">
    <thead *ngIf="i==0"  class="table-secondary mb-5">
    <tr data-aos="zoom-in">
      <th    class="fw-bold"  scope="col" >Date</th>
      <th   class="fw-bold"  scope="col">Quantité</th>
      <th   class="fw-bold" scope="col">Type</th>
      <th   class="fw-bold"  scope="col">Source</th>
    </tr>
    </thead>
    <tbody>
    <tr data-aos="zoom-in"  >
      <td  >{{mvtstk.dateMvt | date : 'd-MM-yyy'}}</td>
      <td  >{{mvtstk.quantite}}</td>
      <td  [ngClass]="{'table-danger': mvtstk.typeMvt == 'SORTIE', 'table-success': mvtstk.typeMvt == 'ENTREE'}" >{{mvtstk.typeMvt}}</td>
      <td > {{mvtstk.sourceMvt}}</td>

    </tr>
    </tbody>
  </table>

  </div>
