
<div class="pagetitle">
  <h1>Nouvelle commande {{origin}}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Dashboard</li>
      <li class="breadcrumb-item active">Nouvellecommande{{origin}}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


<section class="section profile">
  <div class="row">
    <div class="col-xl-8">
      <div class="card p-lg-5" >
        <h5 class="card-title text-center">Information de la commande</h5>
        <div class="row">

          <div class="alert alert-danger" *ngIf="errorMsg.length">
            <div *ngFor="let msg of errorMsg">
              <span> {{ msg }}</span>
            </div>
          </div>

          <!-- fournisseur/client-->
          <div class="col-md-6">
            <form>
              <div class=" row form-group m-lg-2 ">
                <label for="Code commade" class="col-md-4 form-label ">Code commade </label>
                <div class="col-md-8"> <input type="text" id="Code commade" class="  form-control " name="codeCommande" placeholder="Code commande" [(ngModel)]="codeCommande" style="box-shadow: none"></div>
              </div>
              <div class="row form-group m-lg-2">
                <label for="Code commade" class="col-md-4 form-label ">Coordonnées de {{origin}}</label>
                <div class="col-md-8">
                <select class="form-control" name="cltFrs" [(ngModel)]="selectedClientFournisseur" style="box-shadow: none">
                  <option value="" selected >Selectionner un {{ origin }}</option>
                  <option *ngFor="let obj of listClientFournisseur" [ngValue]="obj">
                    {{ obj.nom }}&nbsp;{{ obj.prenom }}
                  </option>
                </select>
                </div>
              </div>
            </form>
          </div>
          <!---article commander-->
          <div class="col-md-6">
              <div class=" m-lg-2 row position-relative">
                <label for="Code article" class="col-md-4 form-label ">Code article </label>
                <div class=" col-md-8">
                <input type="text" id="Code article" class="form-control" placeholder="Code article" [(ngModel)]="codeArticle" (input)="filtrerArticle()" style="box-shadow: none">
                </div>
                <div *ngIf="codeArticle.length && !articleNotYetSelected" class="col-md-8 autocomplete shadow p-3 mb-5 bg-white rounded  text-center position-absolute bottom-0 end-0 ">
                  <p class="p-1" *ngFor="let article of listArticle"
                     (click)="selectArticleClick(article)"
                  >
                    {{ article.codeArticle }}&nbsp; {{ article.designation }}
                  </p>
                </div>
              </div>
              <div class=" m-lg-2 row">
                <label for="Quantite" class="col-md-4 form-label ">Quantite</label>
                <div class="col-md-8">
                <input type="number"  id="Quantite" min="1" class="form-control" name="quantite" placeholder="Quantite" [(ngModel)]="quantite" style="box-shadow: none" required>
                </div>
              </div>
              <div class="row m-lg-2">
                <label for="Prix Unitaire" class="col-md-4 form-label ">Prix Unitaire </label>
                <div class="col-md-8">
                <input type="number" id="Prix Unitaire"  min="0" class="form-control" placeholder="Prix Unitaire"  name="prixUnitaireTtc" [(ngModel)]="searchedArticle.prixUnitaireTtc" style="box-shadow: none">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                <button type="button" class="btn btn-success d-flex justify-content-center " (click)="ajouterLigneCommande()"><i class="bi bi-plus"></i><span>&nbsp;Ajouter</span></button>
                </div>
              </div>
            </div>
        </div>

        <!--ling de commande-->
        <div class="row mt-2 p-3 custom-border" style="max-height: 300px;overflow-y: scroll">
          <div class="col-md-12" >
            <app-detail-cmd *ngFor="let ligne of lignesCommande; let i = index "
                            (pluss)="plus($event)"
                            (minus)="moins($event)"
                            [ligneCommande]="ligne"
                            [i]="i"
                            [origin]="'origin'"
            ></app-detail-cmd>
          </div>
        </div>

        <!--total-->
        <div class="row mt-2 p-6 custom-border ">
          <div class="col-md-12 text-end pe-5" >
            <h3 style="color: #4a5464" *ngIf="totalCommande">Total de la commande: {{ totalCommande }}&nbsp;€</h3>
          </div>
        </div>

        <!--button-->
        <div class="col-md-12 text-end mt-2">
          <button class="btn btn-danger mr-3" (click)="cancel()">
            <i class="bi bi-x-octagon"></i>
            Annuler
          </button>
          <button class="btn btn-primary m-lg-2" (click)="enregistrerCommande()">
            <i class="bi bi-floppy"></i>
            Enregitrer
          </button>
        </div>

      </div>

    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center" *ngIf="selectedClientFournisseur.nom">

          <img  [src]="selectedClientFournisseur.photo ? imgUrl+selectedClientFournisseur.photo :  'assets/image/user.png' "  alt="Profile" class="rounded-circle" width="110px" height="110px" >
          <h2 class="text-start  "  style="color: #0e1d34"><i class="bi bi-person-check-fill text-secondary"></i>&nbsp;&nbsp;{{ selectedClientFournisseur.nom }}{{ selectedClientFournisseur.prenom }}</h2>
          <h3 class="text-start" style="color: #0e1d34"><i class="bi bi-telephone-forward-fill text-secondary"></i>&nbsp;&nbsp;{{ selectedClientFournisseur.numTel }}</h3>
          <h5 class="text-start" style="color: #0e1d34"><i class="bi bi-cart-check-fill text-secondary"></i>&nbsp;&nbsp;EN PREPARATION</h5>
          <div class="social-links mt-2">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






