
<div class="pagetitle">
  <h1>Nouvelle commande {{origin}}</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Dashboard</li>
      <li class="breadcrumb-item active">Nouvellecommande{{origin}}</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


<section class="section profile">
  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <h5 class="card-title">Information de la commande</h5>
        <div class="alert alert-danger" *ngIf="errorMsg.length">
          <div *ngFor="let msg of errorMsg">
            <span> {{ msg }}</span>
          </div>
        </div>
        <div class="col-md-4 custom-border-right">
          <form>
            <div class="form-group m-lg-2">
              <input type="text" class="form-control" name="codeCommande" placeholder="Code commande" [(ngModel)]="codeCommande" style="box-shadow: none">
            </div>
            <div class="form-group m-lg-2">
              <input type="date" class="form-control" placeholder="Date commande" [(ngModel)]="datCommande" style="box-shadow: none">
            </div>
            <div class="form-group m-lg-2">
              <select class="form-control" name="cltFrs" [(ngModel)]="selectedClientFournisseur" style="box-shadow: none">
                <option>Selectionner un {{ origin }}</option>
                <option *ngFor="let obj of listClientFournisseur" [ngValue]="obj">
                  {{ obj.nom }}&nbsp;{{ obj.prenom }}
                </option>
              </select>
            </div>
          </form>
        </div>

        <div class="row mt-2 p-3 custom-border">
          <div class="form-row col-md-12">
            <div class="col-md-4 m-lg-2">
              <input type="text" class="form-control" placeholder="Code article" [(ngModel)]="codeArticle" (input)="filtrerArticle()" style="box-shadow: none">
              <div *ngIf="codeArticle.length && !articleNotYetSelected" class="autocomplete shadow p-3 mb-5 bg-white rounded">
                <p class="p-1" *ngFor="let article of listArticle"
                   (click)="selectArticleClick(article)"
                >
                  {{ article.codeArticle }}&nbsp; {{ article.designation }}
                </p>
              </div>
            </div>
            <div class="col-md-4 m-lg-2">
              <input type="text" class="form-control" name="quantite" placeholder="Quantite" [(ngModel)]="quantite" style="box-shadow: none">
            </div>
            <div class="col-md-4 m-lg-2">
              <input type="text" class="form-control" placeholder="Prix Unitaire"  name="prixUnitaireTtc" [(ngModel)]="searchedArticle.prixUnitaireTtc" style="box-shadow: none">
            </div>
            <div class="col-md-1 m-lg-2">
              <button type="button" class="btn btn-success" (click)="ajouterLigneCommande()"><i class="bi bi-plus"></i></button>
            </div>
          </div>
        </div>
        <div class="row mt-2 p-3 custom-border" style="max-height: 300px;overflow-y: scroll">
          <div class="col-md-12">
            <app-detail-cmd *ngFor="let ligne of lignesCommande"
                            [ligneCommande]="ligne"
                            [origin]="'origin'"
            ></app-detail-cmd>
          </div>
        </div>
        <div class="row mt-2 p-3 custom-border ">
          <div class="col-md-12 text-right" >
            <h3>Total de la commande: {{ totalCommande }}&nbsp;€</h3>
          </div>
        </div>

        <div class="col-md-12 text-right mt-2">
          <button class="btn btn-danger mr-3">
            <i class="bi bi-x-octagon"></i>
            Annuler
          </button>
          <button class="btn btn-primary m-lg-2" (click)="enregistrerCommande()">
            <i class="bi bi-floppy"></i>
            Enregitrer
          </button>
        </div>




      </div>

    </div>
    <div class="col-xl-4">
      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center" *ngIf="selectedClientFournisseur.nom">

          <img  [src]="selectedClientFournisseur.photo ? imgUrl+selectedClientFournisseur.photo :  'assets/image/user.png' "  alt="Profile" class="rounded-circle" width="110px" height="110px" >
          <h2>{{ selectedClientFournisseur.nom }}{{ selectedClientFournisseur.prenom }}</h2>
          <h3>{{ selectedClientFournisseur.numTel }}</h3>
          <h4>EN PREPARATION</h4>
          <div class="social-links mt-2">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






