<table class="table table-borderless">
  <thead *ngIf="i==0" class="mb-5">
  <tr data-aos="zoom-in" >
    <th scope="col">Aperçu</th>
    <th scope="col">Référence</th>
    <th scope="col">Produit</th>
    <th scope="col">Prix Ht</th>
    <th scope="col">Prix Ttc</th>
    <th scope="col">Categorie</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr data-aos="zoom-in">
    <td  ><img [src]="imgUrl " alt="article" ></td>
    <td class="text-primary fw-bold">{{ article.codeArticle }}</td>
    <td class="text-primary fw-bold">{{ article.designation }}</td>
    <td class=" text-primary  fw-bold">{{ article.prixUnitaireHt }}€</td>
    <td class=" text-primary  fw-bold">{{ article.prixUnitaireTtc }} €</td>
    <td class=" text-primary  fw-bold">{{ article.categorie?.designation }}</td>
    <td class=" text-primary  fw-bold">
      <div class="action" >
        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow"  >
          <li class="dropdown-header text-start" >
            <h6>Actions</h6>
          </li>
          <li ><a class="dropdown-item" href="javascript:void(0)" (click)="modifierArticle( article.id)">
            <i class="bi bi-pencil-square"></i>&nbsp;Modifier</a></li>
          <li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal"
                 [attr.data-bs-target]="'#modalDeleteArticle'+article.id" >
            <i class="bi bi-trash3"></i>Supprimer</a></li>
          <li ><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-ticket-detailed"></i>Détails</a></li>
        </ul>
      </div>
    </td>
  </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" [attr.id]="'modalDeleteArticle'+article.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Etes vous-sur de vouloir supprimer cet article?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i
          class="fas fa-ban"></i> Annuler
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmerEtSupprimerArticle()"><i
          class="fas fa-trash-alt"></i> Supprimer
        </button>
      </div>
    </div>
  </div>
</div>

