<!-- header -->
<app-header-home> </app-header-home>
<!-- /header -->
<!-- Content -->
<section class="container-fluid my-fluid">

<div class="container-xxl  my-container p-2" id="" data-aos="zoom-out">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <!-- Register Card -->
      <div class="card my-card">
        <div class="card-body">
          <!-- Logo -->
          <div class="app-brand justify-content-center">
            <a href="index.html" class="app-brand-link gap-2 mb-5 mt-5 d-flex justify-content-center align-content-center">
                  <span class="app-brand-logo demo pb-2">
                   <img src="assets/img/img/logogs.png" width="70" >
                  </span>
              <h1 class="app-brand-text demo text-body fw-bolder">GESTOSTOCK</h1>
            </a>
          </div>
          <!-- /Logo -->
          <h4 class="mb-2">
            L'aventure commence ici 🚀</h4>
          <p class="mb-4">Rendez la gestion de vos stock facile et amusante !</p>
            <!-- error-->
          <div class="alert alert-danger" *ngIf="errorsMsg.length > 0">
            <div *ngFor="let msg of errorsMsg">
              <span >{{msg}}</span>
            </div>
          </div>
          <!-- /error-->
          <form id="formAuthentication" class="mb-3"  method="POST">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3 row ">
                  <label for="nom" class="col-sm-4 col-form-label">Nom</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="nom" placeholder="Nom" [(ngModel)]="entreprise.nom">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="code fiscal" class="col-sm-4 col-form-label">Code fiscal</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control"  id="code fiscal" placeholder="Code fiscal" [(ngModel)]="entreprise.codeFiscal">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="email" class="col-sm-4 col-form-label">Email</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="email" placeholder="E-mail" [(ngModel)]="entreprise.email">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="adresse 1" class="col-sm-4 col-form-label">Adresse 1</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="adresse 1" placeholder="Adresse 1" [(ngModel)]="adresse.adresse1">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="adresse 2" class="col-sm-4 col-form-label">Adresse 2</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="adresse 2" placeholder="Adresse 2" [(ngModel)]="adresse.adresse2">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3 row">
                  <label for="ville" class="col-sm-4 col-form-label">Ville</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control"  id="ville" placeholder="Ville" [(ngModel)]="adresse.ville">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="pays" class="col-sm-4 col-form-label">Pays</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="pays" placeholder="Pays" [(ngModel)]="adresse.pays" >
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="description" class="col-sm-4 col-form-label">Description</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" placeholder="Description" id="description" [(ngModel)]="entreprise.description"></textarea>
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="tel" class="col-sm-4 col-form-label">Telephone</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="tel" placeholder="Numero de telephone" [(ngModel)]="entreprise.numTel">
                  </div>
                </div>
                <div class="mb-3 row">
                  <label for="profil" class="col-sm-4 col-form-label">Image profil</label>
                  <div class="col-sm-8">
                    <input type="file" id="profil" class="file-upload " (change)="onFileSelected($event)"  >
                    <input type="hidden" name="image"  [(ngModel)]="entreprise.image" [value]="pathFile">
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center"><button class="btn btn-primary  d-grid w-25 " (click)="save()">S'inscrire</button></div>
          </form>
          <div class="mb-3">
          <p class="text-center">
            <span>Vous avez déjà un compte?</span>
            <a href="/login"  >
            <span>Connectez-vous</span>
            </a>
          </p>
          </div>
        </div>
      </div>
      <!-- Register Card -->
    </div>
  </div>
</div>
</section>
<!-- / Content -->
<!-- footer -->
<app-footer></app-footer>
<!-- /footer -->
