
<div class="filter">
  <a class="icon" href="#" data-bs-toggle="dropdown"><i  class="bi bi-three-dots text-primary fw-bold"></i></a>
  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
    <li class="dropdown-header text-start">
      <h6>Actions</h6>
    </li>

    <li *ngIf="isNouveauVisible"><a class="dropdown-item" href="javascript:void(0)" (click)="bouttonNouveauClick()"><i class="bi bi-plus"></i>&nbsp;Ajouter</a></li>
    <li *ngIf="isImporterVisible"><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-cloud-download"></i>Importer</a></li>
    <li *ngIf="isExporterVisible"><a class="dropdown-item" href="javascript:void(0)" ><i class="bi bi-cloud-upload"></i>Exporter</a></li>
  </ul>
</div>
