<!-- header -->
<app-header-home></app-header-home>
<!-- /header -->

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="page-header d-flex align-items-center" style="background-image: url('assets/img/img/image11.png');">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>CGU</h2>
          <p> Consultez nos Conditions Générales d'Utilisation pour comprendre les règles et les obligations régissant l'utilisation de notre site Gestostock.</p>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <ol>
        <li><a href="/">Home</a></li>
        <li>CGU</li>
      </ol>
    </div>
  </nav>
</div><!-- End Breadcrumbs -->

<!-- =======CGU Section ======= -->
<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Conditions Générales d'Utilisation</h2>

    </div>

  <div></div>

  </div>
</section><!-- End CGU Section -->

<!--footer -->
<app-footer></app-footer>
<!--/footer-->
