<!-- header -->
<app-header-home></app-header-home>
<!-- /header -->

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="page-header d-flex align-items-center" style="background-image: url('../../../../assets/img/img/image-08.webp');">
    <div class="container position-relative">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 text-center">
          <h2>À Propos </h2>
          <p>"Découvrez notre histoire, notre mission et notre équipe dévouée chez GestoStock."</p>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <div class="container">
      <ol>
        <li><a href="../../../../index.html">Home</a></li>
        <li>About</li>
      </ol>
    </div>
  </nav>
</div><!-- End Breadcrumbs -->

<!-- ======= About Us Section ======= -->

<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">
      <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
        <img src="../../../../assets/img/img/image-08.webp" class="img-fluid" alt="">
        <a href="../../../../assets/medias/gestostock.mp4" class="glightbox play-btn"></a>
      </div>
      <div class="col-lg-6 content order-last  order-lg-first">
        <h3>About us</h3>
        <p>
          Découvrez l'histoire et la mission de GestoStock, votre solution complète de gestion de stock. Apprenez comment notre plateforme innovante aide les entreprises à optimiser leur gestion d'inventaire, à simplifier leurs opérations et à stimuler leur croissance. Explorez nos valeurs, notre équipe dévouée et notre engagement envers l'excellence pour mieux comprendre pourquoi GestoStock est le partenaire idéal pour votre entreprise.
        </p>
        <ul>
          <li data-aos="fade-up" data-aos-delay="100">
            <i class="bi bi-diagram-3"></i>
            <div>
              <h5>Innovation Technologique </h5>
              <p>GestoStock s'engage à rester à la pointe de l'innovation technologique dans le domaine de la gestion des stocks. Nous développons continuellement de nouvelles fonctionnalités et technologies pour offrir à nos clients les outils les plus avancés et les plus efficaces pour gérer leurs inventaires.</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="200">
            <i class="bi bi-fullscreen-exit"></i>
            <div>
              <h5>Simplicité d'Utilisation</h5>
              <p>Nous mettons l'accent sur la simplicité et l'accessibilité de notre plateforme. Avec une interface conviviale et des fonctionnalités intuitives, GestoStock rend la gestion des stocks facile et efficace pour les utilisateurs de tous niveaux de compétence.</p>
            </div>
          </li>
          <li data-aos="fade-up" data-aos-delay="300">
            <i class="bi bi-broadcast"></i>
            <div>
              <h5>Service Client de Qualité</h5>
              <p>Chez GestoStock, nous plaçons nos clients au cœur de tout ce que nous faisons. Notre équipe dévouée de service client est là pour offrir un support de qualité, répondre aux questions et fournir une assistance personnalisée à chaque étape du processus.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->

<!-- ======= Stats Counter Section ======= -->
<!--
<section id="stats-counter" class="stats-counter pt-0">
  <div class="container" data-aos="fade-up">

    <div class="row gy-4">

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
          <p>Clients</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
          <p>Projects</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
          <p>Hours Of Support</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="stats-item text-center w-100 h-100">
          <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter"></span>
          <p>Workers</p>
        </div>
      </div>

    </div>

  </div>
</section>--><!-- End Stats Counter Section -->

<!-- ======= Our Team Section ======= -->
<!--
<section id="team" class="team pt-0">
  <div class="container" data-aos="fade-up">

    <div class="section-header">

      <h2>NOTRE ÉQUIPE</h2>

    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-4 col-md-6 d-flex">
        <div class="member">
          <img src="../../../../assets/img/team/team-1.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Walter White</h4>
            <span>Web Development</span>
            <p>
              Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex">
        <div class="member">
          <img src="../../../../assets/img/team/team-2.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>Sarah Jhinson</h4>
            <span>Marketing</span>
            <p>
              Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex">
        <div class="member">
          <img src="../../../../assets/img/team/team-3.jpg" class="img-fluid" alt="">
          <div class="member-content">
            <h4>William Anderson</h4>
            <span>Content</span>
            <p>
              Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
            </p>
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>--><!-- End Our Team Section -->
<!-- footer -->
<app-footer></app-footer>
<!-- /footer -->
