<div class="row mb-1 mr-0 custom-border">
  <div class="alert alert-danger" *ngIf="stock<10">Attention : Le stock de produit N° Référence:&nbsp; <span style="color: #0d6efd">{{mvtstk.article.codeArticle }}&nbsp; </span>est au minimum ! Veuillez passer une commande.</div>

  <table class="table table-borderless">
    <thead *ngIf="i==0" >
    <tr data-aos="zoom-in">
      <th style="width: 10%; text-align: center;" scope="col" >Aperçu</th>
      <th style="width: 10%; text-align: center;" scope="col">Référence</th>
      <th style="width: 10%; text-align: center;" scope="col">Produit</th>
      <th style="width: 10%; text-align: center;" scope="col">Prix Ht</th>
      <th style="width: 10%; text-align: center;" scope="col">Prix Ttc</th>
      <th style="width: 10%; text-align: center;" scope="col">Categorie</th>
      <th style="width: 10%; text-align: center;" scope="col">Stock</th>
      <th style="width: 10%; text-align: center;" scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr data-aos="zoom-in">
      <td style="width: 10%; height:60px; ;text-align: center;" ><img [src]="imgUrl"    alt="stock"></td>
      <td style="width: 10%; text-align: center;"   class="fw-bold text-primary "  >{{mvtstk.article.codeArticle}}</td>
      <td style="width: 10%;text-align: center;" class=" fw-bold text-primary  ">{{mvtstk.article.designation}}</td>
      <td style="width: 10%;text-align: center;" class="fw-bold text-primary " >{{mvtstk.article.prixUnitaireHt}}&nbsp;€</td>
      <td style="width: 10%;text-align: center;"  class="fw-bold text-primary " > {{mvtstk.article.prixUnitaireTtc}}&nbsp;€</td>
      <td style="width: 10%;text-align: center;"   class="fw-bold text-primary " >{{mvtstk.article.categorie.designation}}</td>
      <td style="width: 10%;text-align: center;"   class="fw-bold  "  [ngClass]="{'text-danger':stock<10, 'text-success':stock>10}" >{{ stock }}<br>
      <span  *ngIf="stock<10" style="color: red">Le stock est faible !</span>
      </td>
      <td style="width: 10%;text-align: center; " class="fw-bold text-primary ">
        <div class="action">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Actions</h6>
            </li>
            <li><a class="dropdown-item" href="javascript:void(0)" >
              <i class="bi bi-pencil-square"></i>&nbsp;Modifier</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal"
                   data-bs-target="#modalDeleteArticle" >
              <i class="bi bi-trash3"></i>Supprimer</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)"><i class="bi bi-ticket-detailed"></i>Détails</a></li>
          </ul>
        </div>
      </td>
    </tr>
    </tbody>
  </table>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" autofocus>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Correction de stock</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Quantite">
            </div>
            <div class="form-group">
              <select class="form-control">
                <option>Correction positive</option>
                <option>Correction negative</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-ban"></i>&nbsp;Annuler</button>
          <button type="button" class="btn btn-primary"> <i class="fas fa-save"></i>&nbsp;Enregistrer</button>
        </div>
      </div>
    </div>
  </div>
</div>
