<div class="row mb-1 mr-0 custom-border" >

  <table class="table table-borderless">
    <thead >
    <tr data-aos="zoom-in">
      <th style="width: 10%; text-align: center;" scope="col" >{{ origin.charAt(0).toUpperCase() + origin.slice(1) }}</th>
      <th style="width: 10%; text-align: center;" scope="col">Nom</th>
      <th style="width: 10%; text-align: center;" scope="col">Prenom</th>
      <th style="width: 10%; text-align: center;" scope="col">Tel</th>
      <th style="width: 10%; text-align: center;" scope="col">Référence</th>
      <th style="width: 10%; text-align: center;" scope="col">Date</th>
      <th style="width: 10%; text-align: center;" scope="col">Etat</th>
      <th style="width: 10%; text-align: center;" scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr data-aos="zoom-in">
      <td style="width: 10%; height:60px; ;text-align: center;" ><img [src]="imgUrl"    alt="cmd" class="rounded-circle" width="50" height="50"></td>
      <td style="width: 10%; text-align: center;" >{{ cltFrs?.nom }}</td>
      <td style="width: 10%;text-align: center;" >{{ cltFrs?.prenom }}</td>
      <td style="width: 10%;text-align: center;"  >{{ cltFrs?.numTel }}</td>
      <td style="width: 10%;text-align: center;"   >{{ commande.reference}} </td>
      <td style="width: 10%;text-align: center;" >{{ commande.dateCommande | date:'dd-MM-yyy' }}</td>
      <td style="width: 10%;text-align: center;" >{{ commande.etatCommande }}</td>
      <td style="width: 10%;text-align: center;" >

        <div class="action">
          <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li class="dropdown-header text-start">
              <h6>Actions</h6>
            </li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="facture(commande.id)">
              <i class="bi bi-pencil-square"></i>&nbsp;Facture</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" data-bs-toggle="modal"
                   data-bs-target="#modalDeleteCmd" >
              <i class="bi bi-trash3"></i>Supprimer</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="facture(commande.id)"><i class="bi bi-ticket-detailed"></i>Facture</a></li>
          </ul>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
