<div class="pagetitle">
  <h1>Utilisateur</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
      <li class="breadcrumb-item">Dashboard</li>
      <li class="breadcrumb-item active">nouvelutilisateur</li>
    </ol>
  </nav>
</div><!-- End Page Title -->
<section class="section dashboard" data-aos="fade-down">
  <div class="row">

    <!-- Top Selling -->
    <div class="col-12">
      <div class="card top-selling overflow-auto">
        <div class="card-body pb-0 ">
          <h5 class="card-title">Information de l'utilisateur</h5>

          <div class="col mb-3">
            <div class="col-md-12">
              <div class="alert alert-danger" *ngIf="errorsMsg.length > 0">
                <div *ngFor="let msg of errorsMsg">
                  <span >{{msg}}</span>
                </div>
              </div>
              <div class="col-md-12 " >
                <form>
                  <div class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Nom" [(ngModel)]="utilisateur.nom" name="nom" style="box-shadow: none">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Adresse 1" [(ngModel)]="adresse.adresse1" name="adresse1" style="box-shadow: none">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Prenom" [(ngModel)]="utilisateur.prenom" name="prenom" style="box-shadow: none">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Adresse 2" [(ngModel)]="adresse.adresse2" name="adresse2" style="box-shadow: none">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="utilisateur.email" name="email" style="box-shadow: none">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Ville" [(ngModel)]="adresse.ville" name="ville" style="box-shadow: none">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <input type="date" class="form-control" placeholder="Dete de naissance" [(ngModel)]="utilisateur.dateDeNaissance" name="dateDeNaissance" style="box-shadow: none">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Code postal" [(ngModel)]="adresse.codePostale" name="codePostale" style="box-shadow: none">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Telephone" [(ngModel)]="utilisateur.numTel" name="numTel" style="box-shadow: none">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Pays" [(ngModel)]="adresse.pays" name="pays" style="box-shadow: none">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="utilisateur.mdp" name="mdp" style="box-shadow: none">
                    </div>
                    <div class="col">
                      <input type="file" class="file-upload" (change)="onFileSelected($event)"  >
                      <input type="hidden" name="photo"  [(ngModel)]="utilisateur.photo" [value]="pathFile">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-md-12 text-right">
              <button class="btn btn-danger mr-3" (click)="cancel()">
                <i class="bi bi-x-octagon"></i>
                Annuler
              </button>
              <button class="btn btn-primary m-lg-2"  (click)="ajouter()">
                <i class="bi bi-floppy"></i>
                Enregitrer
              </button>
            </div>

          </div>
        </div>
      </div>
    </div><!-- End Top Selling -->
  </div>

</section>





